:root {
    /* Color styles */
    --m3--white: rgba(255, 255, 255, 1);
    --m3--black: rgba(0, 0, 0, 1);
    --m3--sys--light--primary: rgba(103, 80, 164, 1);
    --m3--sys--light--on-primary: rgba(255, 255, 255, 1);
    --m3--sys--light--primary-container: rgba(234, 221, 255, 1);
    --m3--sys--light--on-primary-container: rgba(33, 0, 93, 1);
    --m3--sys--light--secondary: rgba(98, 91, 113, 1);
    --m3--sys--light--on-secondary: rgba(255, 255, 255, 1);
    --m3--sys--light--secondary-container: rgba(232, 222, 248, 1);
    --m3--sys--light--on-secondary-container: rgba(29, 25, 43, 1);
    --m3--sys--light--tertiary: rgba(125, 82, 96, 1);
    --m3--sys--light--on-tertiary: rgba(255, 255, 255, 1);
    --m3--sys--light--tertiary-container: rgba(255, 216, 228, 1);
    --m3--sys--light--on-tertiary-container: rgba(49, 17, 29, 1);
    --m3--sys--light--error: rgba(179, 38, 30, 1);
    --m3--sys--light--error-container: rgba(249, 222, 220, 1);
    --m3--sys--light--on-error: rgba(255, 255, 255, 1);
    --m3--sys--light--on-error-container: rgba(65, 14, 11, 1);
    --m3--sys--light--background: rgba(255, 251, 254, 1);
    --m3--sys--light--on-background: rgba(28, 27, 31, 1);
    --m3--sys--light--surface: rgba(255, 251, 254, 1);
    --m3--sys--light--on-surface: rgba(28, 27, 31, 1);
    --m3--sys--light--surface-variant: rgba(231, 224, 236, 1);
    --m3--sys--light--on-surface-variant: rgba(73, 69, 79, 1);
    --m3--sys--light--outline: rgba(121, 116, 126, 1);
    --m3--sys--light--outline-variant: rgba(202, 196, 208, 1);
    --m3--sys--light--inverse-on-surface: rgba(244, 239, 244, 1);
    --m3--sys--light--inverse-surface: rgba(49, 48, 51, 1);
    --m3--sys--light--surface-tint: rgba(103, 80, 164, 1);
    --m3--sys--light--surface-tint-color: rgba(103, 80, 164, 1);
    --m3--sys--light--shadow: rgba(0, 0, 0, 1);
    --m3--sys--light--inverse-primary: rgba(208, 188, 255, 1);
    --m3--sys--dark--primary: rgba(208, 188, 255, 1);
    --m3--sys--dark--on-primary: rgba(56, 30, 114, 1);
    --m3--sys--dark--primary-container: rgba(79, 55, 139, 1);
    --m3--sys--dark--on-primary-container: rgba(234, 221, 255, 1);
    --m3--sys--dark--secondary: rgba(204, 194, 220, 1);
    --m3--sys--dark--on-secondary: rgba(51, 45, 65, 1);
    --m3--sys--dark--secondary-container: rgba(74, 68, 88, 1);
    --m3--sys--dark--on-secondary-container: rgba(232, 222, 248, 1);
    --m3--sys--dark--tertiary: rgba(239, 184, 200, 1);
    --m3--sys--dark--on-tertiary: rgba(73, 37, 50, 1);
    --m3--sys--dark--tertiary-container: rgba(99, 59, 72, 1);
    --m3--sys--dark--on-tertiary-container: rgba(255, 216, 228, 1);
    --m3--sys--dark--error: rgba(242, 184, 181, 1);
    --m3--sys--dark--error-container: rgba(140, 29, 24, 1);
    --m3--sys--dark--on-error: rgba(96, 20, 16, 1);
    --m3--sys--dark--on-error-container: rgba(249, 222, 220, 1);
    --m3--sys--dark--background: rgba(28, 27, 31, 1);
    --m3--sys--dark--on-background: rgba(230, 225, 229, 1);
    --m3--sys--dark--surface: rgba(28, 27, 31, 1);
    --m3--sys--dark--on-surface: rgba(230, 225, 229, 1);
    --m3--sys--dark--surface-variant: rgba(73, 69, 79, 1);
    --m3--sys--dark--on-surface-variant: rgba(202, 196, 208, 1);
    --m3--sys--dark--outline: rgba(147, 143, 153, 1);
    --m3--sys--dark--outline-variant: rgba(73, 69, 79, 1);
    --m3--sys--dark--inverse-on-surface: rgba(49, 48, 51, 1);
    --m3--sys--dark--inverse-surface: rgba(230, 225, 229, 1);
    --m3--sys--dark--surface-tint: rgba(208, 188, 255, 1);
    --m3--sys--dark--surface-tint-color: rgba(208, 188, 255, 1);
    --m3--sys--dark--shadow: rgba(0, 0, 0, 1);
    --m3--sys--dark--inverse-primary: rgba(103, 80, 164, 1);
    --m3--ref--primary--primary100: rgba(255, 255, 255, 1);
    --m3--ref--primary--primary99: rgba(255, 251, 254, 1);
    --m3--ref--primary--primary95: rgba(246, 237, 255, 1);
    --m3--ref--primary--primary90: rgba(234, 221, 255, 1);
    --m3--ref--primary--primary80: rgba(208, 188, 255, 1);
    --m3--ref--primary--primary70: rgba(182, 157, 248, 1);
    --m3--ref--primary--primary60: rgba(154, 130, 219, 1);
    --m3--ref--primary--primary50: rgba(127, 103, 190, 1);
    --m3--ref--primary--primary40: rgba(103, 80, 164, 1);
    --m3--ref--primary--primary30: rgba(79, 55, 139, 1);
    --m3--ref--primary--primary20: rgba(56, 30, 114, 1);
    --m3--ref--primary--primary10: rgba(33, 0, 93, 1);
    --m3--ref--primary--primary0: rgba(0, 0, 0, 1);
    --m3--ref--secondary--secondary100: rgba(255, 255, 255, 1);
    --m3--ref--secondary--secondary99: rgba(255, 251, 254, 1);
    --m3--ref--secondary--secondary95: rgba(246, 237, 255, 1);
    --m3--ref--secondary--secondary90: rgba(232, 222, 248, 1);
    --m3--ref--secondary--secondary80: rgba(204, 194, 220, 1);
    --m3--ref--secondary--secondary70: rgba(176, 167, 192, 1);
    --m3--ref--secondary--secondary60: rgba(149, 141, 165, 1);
    --m3--ref--secondary--secondary50: rgba(122, 114, 137, 1);
    --m3--ref--secondary--secondary40: rgba(98, 91, 113, 1);
    --m3--ref--secondary--secondary30: rgba(74, 68, 88, 1);
    --m3--ref--secondary--secondary20: rgba(51, 45, 65, 1);
    --m3--ref--secondary--secondary10: rgba(29, 25, 43, 1);
    --m3--ref--secondary--secondary0: rgba(0, 0, 0, 1);
    --m3--ref--tertiary--tertiary100: rgba(255, 255, 255, 1);
    --m3--ref--tertiary--tertiary99: rgba(255, 251, 250, 1);
    --m3--ref--tertiary--tertiary95: rgba(255, 236, 241, 1);
    --m3--ref--tertiary--tertiary90: rgba(255, 216, 228, 1);
    --m3--ref--tertiary--tertiary80: rgba(239, 184, 200, 1);
    --m3--ref--tertiary--tertiary70: rgba(210, 157, 172, 1);
    --m3--ref--tertiary--tertiary60: rgba(181, 131, 146, 1);
    --m3--ref--tertiary--tertiary50: rgba(152, 105, 119, 1);
    --m3--ref--tertiary--tertiary40: rgba(125, 82, 96, 1);
    --m3--ref--tertiary--tertiary30: rgba(99, 59, 72, 1);
    --m3--ref--tertiary--tertiary20: rgba(73, 37, 50, 1);
    --m3--ref--tertiary--tertiary10: rgba(49, 17, 29, 1);
    --m3--ref--tertiary--tertiary0: rgba(0, 0, 0, 1);
    --m3--ref--neutral--neutral100: rgba(255, 255, 255, 1);
    --m3--ref--neutral--neutral99: rgba(255, 251, 254, 1);
    --m3--ref--neutral--neutral95: rgba(244, 239, 244, 1);
    --m3--ref--neutral--neutral90: rgba(230, 225, 229, 1);
    --m3--ref--neutral--neutral80: rgba(201, 197, 202, 1);
    --m3--ref--neutral--neutral70: rgba(174, 170, 174, 1);
    --m3--ref--neutral--neutral60: rgba(147, 144, 148, 1);
    --m3--ref--neutral--neutral50: rgba(120, 117, 121, 1);
    --m3--ref--neutral--neutral40: rgba(96, 93, 98, 1);
    --m3--ref--neutral--neutral30: rgba(72, 70, 73, 1);
    --m3--ref--neutral--neutral20: rgba(49, 48, 51, 1);
    --m3--ref--neutral--neutral10: rgba(28, 27, 31, 1);
    --m3--ref--neutral--neutral0: rgba(0, 0, 0, 1);
    --m3--ref--neutral--neutral-na-n: rgba(255, 255, 255, 1);
    --m3--ref--neutral-variant--neutral-variant100: rgba(255, 255, 255, 1);
    --m3--ref--neutral-variant--neutral-variant99: rgba(255, 251, 254, 1);
    --m3--ref--neutral-variant--neutral-variant95: rgba(245, 238, 250, 1);
    --m3--ref--neutral-variant--neutral-variant90: rgba(231, 224, 236, 1);
    --m3--ref--neutral-variant--neutral-variant80: rgba(202, 196, 208, 1);
    --m3--ref--neutral-variant--neutral-variant70: rgba(174, 169, 180, 1);
    --m3--ref--neutral-variant--neutral-variant60: rgba(147, 143, 153, 1);
    --m3--ref--neutral-variant--neutral-variant50: rgba(121, 116, 126, 1);
    --m3--ref--neutral-variant--neutral-variant40: rgba(96, 93, 102, 1);
    --m3--ref--neutral-variant--neutral-variant30: rgba(73, 69, 79, 1);
    --m3--ref--neutral-variant--neutral-variant20: rgba(50, 47, 55, 1);
    --m3--ref--neutral-variant--neutral-variant10: rgba(29, 26, 34, 1);
    --m3--ref--neutral-variant--neutral-variant0: rgba(0, 0, 0, 1);
    --m3--ref--error--error100: rgba(255, 255, 255, 1);
    --m3--ref--error--error99: rgba(255, 251, 249, 1);
    --m3--ref--error--error95: rgba(252, 238, 238, 1);
    --m3--ref--error--error90: rgba(249, 222, 220, 1);
    --m3--ref--error--error80: rgba(242, 184, 181, 1);
    --m3--ref--error--error70: rgba(236, 146, 142, 1);
    --m3--ref--error--error60: rgba(228, 105, 98, 1);
    --m3--ref--error--error50: rgba(220, 54, 46, 1);
    --m3--ref--error--error40: rgba(179, 38, 30, 1);
    --m3--ref--error--error30: rgba(140, 29, 24, 1);
    --m3--ref--error--error20: rgba(96, 20, 16, 1);
    --m3--ref--error--error10: rgba(65, 14, 11, 1);
    --m3--ref--error--error0: rgba(0, 0, 0, 1);
    --m3--source---seed: rgba(103, 80, 164, 1);
    --m3--source---primary: rgba(103, 80, 164, 1);
    --m3--source---secondary: rgba(98, 91, 113, 1);
    --m3--source---tertiary: rgba(125, 82, 96, 1);
    --m3--source---neutral: rgba(96, 93, 98, 1);
    --m3--source---neutral--variant: rgba(96, 93, 102, 1);
    --m3--source---error: rgba(179, 38, 30, 1);
    --m3--source--seed: rgba(103, 80, 164, 1);
    --m3--surfaces--light--surface1: rgba(255, 251, 254, 1);
    --m3--surfaces--light--surface2: rgba(255, 251, 254, 1);
    --m3--surfaces--light--surface3: rgba(255, 251, 254, 1);
    --m3--surfaces--light--surface4: rgba(255, 251, 254, 1);
    --m3--surfaces--light--surface5: rgba(255, 251, 254, 1);
    --m3--surfaces--dark--surface1: rgba(28, 27, 31, 1);
    --m3--surfaces--dark--surface2: rgba(28, 27, 31, 1);
    --m3--surfaces--dark--surface3: rgba(28, 27, 31, 1);
    --m3--surfaces--dark--surface4: rgba(28, 27, 31, 1);
    --m3--surfaces--dark--surface5: rgba(28, 27, 31, 1);
    --m3--key-colors--primary: rgba(103, 80, 164, 1);
    --m3--key-colors--secondary: rgba(98, 91, 113, 1);
    --m3--key-colors--tertiary: rgba(125, 82, 96, 1);
    --m3--key-colors--error: rgba(179, 38, 30, 1);
    --m3--key-colors--neutral: rgba(96, 93, 98, 1);
    --m3--key-colors--neutral-variant: rgba(96, 93, 102, 1);
    --m3--state-layers--light--surface-tint--opacity-008: rgba(103, 80, 164, 0.07999999821186066);
    --m3--state-layers--light--surface-tint--opacity-012: rgba(103, 80, 164, 0.11999999731779099);
    --m3--state-layers--light--surface-tint--opacity-016: rgba(103, 80, 164, 0.1599999964237213);
    --m3--state-layers--light--surface-tint-color--opacity-008: rgba(103, 80, 164, 0.07999999821186066);
    --m3--state-layers--light--surface-tint-color--opacity-012: rgba(103, 80, 164, 0.11999999731779099);
    --m3--state-layers--light--surface-tint-color--opacity-016: rgba(103, 80, 164, 0.1599999964237213);
    --m3--state-layers--light--on-error-container--opacity-008: rgba(65, 14, 11, 0.07999999821186066);
    --m3--state-layers--light--on-error-container--opacity-012: rgba(65, 14, 11, 0.11999999731779099);
    --m3--state-layers--light--on-error-container--opacity-016: rgba(65, 14, 11, 0.1599999964237213);
    --m3--state-layers--light--on-error--opacity-008: rgba(255, 255, 255, 0.07999999821186066);
    --m3--state-layers--light--on-error--opacity-012: rgba(255, 255, 255, 0.11999999731779099);
    --m3--state-layers--light--on-error--opacity-016: rgba(255, 255, 255, 0.1599999964237213);
    --m3--state-layers--light--error-container--opacity-008: rgba(249, 222, 220, 0.07999999821186066);
    --m3--state-layers--light--error-container--opacity-012: rgba(249, 222, 220, 0.11999999731779099);
    --m3--state-layers--light--error-container--opacity-016: rgba(249, 222, 220, 0.1599999964237213);
    --m3--state-layers--light--on-tertiary-container--opacity-008: rgba(49, 17, 29, 0.07999999821186066);
    --m3--state-layers--light--on-tertiary-container--opacity-012: rgba(49, 17, 29, 0.11999999731779099);
    --m3--state-layers--light--on-tertiary-container--opacity-016: rgba(49, 17, 29, 0.1599999964237213);
    --m3--state-layers--light--on-tertiary--opacity-008: rgba(255, 255, 255, 0.07999999821186066);
    --m3--state-layers--light--on-tertiary--opacity-012: rgba(255, 255, 255, 0.11999999731779099);
    --m3--state-layers--light--on-tertiary--opacity-016: rgba(255, 255, 255, 0.1599999964237213);
    --m3--state-layers--light--tertiary-container--opacity-008: rgba(255, 216, 228, 0.07999999821186066);
    --m3--state-layers--light--tertiary-container--opacity-012: rgba(255, 216, 228, 0.11999999731779099);
    --m3--state-layers--light--tertiary-container--opacity-016: rgba(255, 216, 228, 0.1599999964237213);
    --m3--state-layers--light--tertiary--opacity-008: rgba(125, 82, 96, 0.07999999821186066);
    --m3--state-layers--light--tertiary--opacity-012: rgba(125, 82, 96, 0.11999999731779099);
    --m3--state-layers--light--tertiary--opacity-016: rgba(125, 82, 96, 0.1599999964237213);
    --m3--state-layers--light--shadow--opacity-008: rgba(0, 0, 0, 0.07999999821186066);
    --m3--state-layers--light--shadow--opacity-012: rgba(0, 0, 0, 0.11999999731779099);
    --m3--state-layers--light--shadow--opacity-016: rgba(0, 0, 0, 0.1599999964237213);
    --m3--state-layers--light--error--opacity-008: rgba(179, 38, 30, 0.07999999821186066);
    --m3--state-layers--light--error--opacity-012: rgba(179, 38, 30, 0.11999999731779099);
    --m3--state-layers--light--error--opacity-016: rgba(179, 38, 30, 0.1599999964237213);
    --m3--state-layers--light--outline--opacity-008: rgba(121, 116, 126, 0.07999999821186066);
    --m3--state-layers--light--outline--opacity-012: rgba(121, 116, 126, 0.11999999731779099);
    --m3--state-layers--light--outline--opacity-016: rgba(121, 116, 126, 0.1599999964237213);
    --m3--state-layers--light--on-background--opacity-008: rgba(28, 27, 31, 0.07999999821186066);
    --m3--state-layers--light--on-background--opacity-012: rgba(28, 27, 31, 0.11999999731779099);
    --m3--state-layers--light--on-background--opacity-016: rgba(28, 27, 31, 0.1599999964237213);
    --m3--state-layers--light--background--opacity-008: rgba(255, 251, 254, 0.07999999821186066);
    --m3--state-layers--light--background--opacity-012: rgba(255, 251, 254, 0.11999999731779099);
    --m3--state-layers--light--background--opacity-016: rgba(255, 251, 254, 0.1599999964237213);
    --m3--state-layers--light--inverse-on-surface--opacity-008: rgba(244, 239, 244, 0.07999999821186066);
    --m3--state-layers--light--inverse-on-surface--opacity-012: rgba(244, 239, 244, 0.11999999731779099);
    --m3--state-layers--light--inverse-on-surface--opacity-016: rgba(244, 239, 244, 0.1599999964237213);
    --m3--state-layers--light--inverse-surface--opacity-008: rgba(49, 48, 51, 0.07999999821186066);
    --m3--state-layers--light--inverse-surface--opacity-012: rgba(49, 48, 51, 0.11999999731779099);
    --m3--state-layers--light--inverse-surface--opacity-016: rgba(49, 48, 51, 0.1599999964237213);
    --m3--state-layers--light--on-surface-variant--opacity-008: rgba(73, 69, 79, 0.07999999821186066);
    --m3--state-layers--light--on-surface-variant--opacity-012: rgba(73, 69, 79, 0.11999999731779099);
    --m3--state-layers--light--on-surface-variant--opacity-016: rgba(73, 69, 79, 0.1599999964237213);
    --m3--state-layers--light--on-surface--opacity-008: rgba(28, 27, 31, 0.07999999821186066);
    --m3--state-layers--light--on-surface--opacity-012: rgba(28, 27, 31, 0.11999999731779099);
    --m3--state-layers--light--on-surface--opacity-016: rgba(28, 27, 31, 0.1599999964237213);
    --m3--state-layers--light--surface-variant--opacity-008: rgba(231, 224, 236, 0.07999999821186066);
    --m3--state-layers--light--surface-variant--opacity-012: rgba(231, 224, 236, 0.11999999731779099);
    --m3--state-layers--light--surface-variant--opacity-016: rgba(231, 224, 236, 0.1599999964237213);
    --m3--state-layers--light--surface--opacity-008: rgba(255, 251, 254, 0.07999999821186066);
    --m3--state-layers--light--surface--opacity-012: rgba(255, 251, 254, 0.11999999731779099);
    --m3--state-layers--light--surface--opacity-016: rgba(255, 251, 254, 0.1599999964237213);
    --m3--state-layers--light--on-secondary-container--opacity-008: rgba(29, 25, 43, 0.07999999821186066);
    --m3--state-layers--light--on-secondary-container--opacity-012: rgba(29, 25, 43, 0.11999999731779099);
    --m3--state-layers--light--on-secondary-container--opacity-016: rgba(29, 25, 43, 0.1599999964237213);
    --m3--state-layers--light--on-secondary--opacity-008: rgba(255, 255, 255, 0.07999999821186066);
    --m3--state-layers--light--on-secondary--opacity-012: rgba(255, 255, 255, 0.11999999731779099);
    --m3--state-layers--light--on-secondary--opacity-016: rgba(255, 255, 255, 0.1599999964237213);
    --m3--state-layers--light--secondary-container--opacity-008: rgba(232, 222, 248, 0.07999999821186066);
    --m3--state-layers--light--secondary-container--opacity-012: rgba(232, 222, 248, 0.11999999731779099);
    --m3--state-layers--light--secondary-container--opacity-016: rgba(232, 222, 248, 0.1599999964237213);
    --m3--state-layers--light--secondary--opacity-008: rgba(98, 91, 113, 0.07999999821186066);
    --m3--state-layers--light--secondary--opacity-012: rgba(98, 91, 113, 0.11999999731779099);
    --m3--state-layers--light--secondary--opacity-016: rgba(98, 91, 113, 0.1599999964237213);
    --m3--state-layers--light--inverse-primary--opacity-008: rgba(208, 188, 255, 0.07999999821186066);
    --m3--state-layers--light--inverse-primary--opacity-012: rgba(208, 188, 255, 0.11999999731779099);
    --m3--state-layers--light--inverse-primary--opacity-016: rgba(208, 188, 255, 0.1599999964237213);
    --m3--state-layers--light--on-primary-container--opacity-008: rgba(33, 0, 93, 0.07999999821186066);
    --m3--state-layers--light--on-primary-container--opacity-012: rgba(33, 0, 93, 0.11999999731779099);
    --m3--state-layers--light--on-primary-container--opacity-016: rgba(33, 0, 93, 0.1599999964237213);
    --m3--state-layers--light--on-primary--opacity-008: rgba(255, 255, 255, 0.07999999821186066);
    --m3--state-layers--light--on-primary--opacity-012: rgba(255, 255, 255, 0.11999999731779099);
    --m3--state-layers--light--on-primary--opacity-016: rgba(255, 255, 255, 0.1599999964237213);
    --m3--state-layers--light--primary-container--opacity-008: rgba(234, 221, 255, 0.07999999821186066);
    --m3--state-layers--light--primary-container--opacity-012: rgba(234, 221, 255, 0.11999999731779099);
    --m3--state-layers--light--primary-container--opacity-016: rgba(234, 221, 255, 0.1599999964237213);
    --m3--state-layers--light--primary--opacity-008: rgba(103, 80, 164, 0.07999999821186066);
    --m3--state-layers--light--primary--opacity-012: rgba(103, 80, 164, 0.11999999731779099);
    --m3--state-layers--light--primary--opacity-016: rgba(103, 80, 164, 0.1599999964237213);
    --m3--state-layers--dark--surface-tint--opacity-008: rgba(208, 188, 255, 0.07999999821186066);
    --m3--state-layers--dark--surface-tint--opacity-012: rgba(208, 188, 255, 0.11999999731779099);
    --m3--state-layers--dark--surface-tint--opacity-016: rgba(208, 188, 255, 0.1599999964237213);
    --m3--state-layers--dark--surface-tint-color--opacity-008: rgba(208, 188, 255, 0.07999999821186066);
    --m3--state-layers--dark--surface-tint-color--opacity-012: rgba(208, 188, 255, 0.11999999731779099);
    --m3--state-layers--dark--surface-tint-color--opacity-016: rgba(208, 188, 255, 0.1599999964237213);
    --m3--state-layers--dark--on-error-container--opacity-008: rgba(242, 184, 181, 0.07999999821186066);
    --m3--state-layers--dark--on-error-container--opacity-012: rgba(242, 184, 181, 0.11999999731779099);
    --m3--state-layers--dark--on-error-container--opacity-016: rgba(242, 184, 181, 0.1599999964237213);
    --m3--state-layers--dark--on-error--opacity-008: rgba(96, 20, 16, 0.07999999821186066);
    --m3--state-layers--dark--on-error--opacity-012: rgba(96, 20, 16, 0.11999999731779099);
    --m3--state-layers--dark--on-error--opacity-016: rgba(96, 20, 16, 0.1599999964237213);
    --m3--state-layers--dark--error-container--opacity-008: rgba(140, 29, 24, 0.07999999821186066);
    --m3--state-layers--dark--error-container--opacity-012: rgba(140, 29, 24, 0.11999999731779099);
    --m3--state-layers--dark--error-container--opacity-016: rgba(140, 29, 24, 0.1599999964237213);
    --m3--state-layers--dark--on-tertiary-container--opacity-008: rgba(255, 216, 228, 0.07999999821186066);
    --m3--state-layers--dark--on-tertiary-container--opacity-012: rgba(255, 216, 228, 0.11999999731779099);
    --m3--state-layers--dark--on-tertiary-container--opacity-016: rgba(255, 216, 228, 0.1599999964237213);
    --m3--state-layers--dark--on-tertiary--opacity-008: rgba(73, 37, 50, 0.07999999821186066);
    --m3--state-layers--dark--on-tertiary--opacity-012: rgba(73, 37, 50, 0.11999999731779099);
    --m3--state-layers--dark--on-tertiary--opacity-016: rgba(73, 37, 50, 0.1599999964237213);
    --m3--state-layers--dark--tertiary-container--opacity-008: rgba(99, 59, 72, 0.07999999821186066);
    --m3--state-layers--dark--tertiary-container--opacity-012: rgba(99, 59, 72, 0.11999999731779099);
    --m3--state-layers--dark--tertiary-container--opacity-016: rgba(99, 59, 72, 0.1599999964237213);
    --m3--state-layers--dark--tertiary--opacity-008: rgba(239, 184, 200, 0.07999999821186066);
    --m3--state-layers--dark--tertiary--opacity-012: rgba(239, 184, 200, 0.11999999731779099);
    --m3--state-layers--dark--tertiary--opacity-016: rgba(239, 184, 200, 0.1599999964237213);
    --m3--state-layers--dark--shadow--opacity-008: rgba(0, 0, 0, 0.07999999821186066);
    --m3--state-layers--dark--shadow--opacity-012: rgba(0, 0, 0, 0.11999999731779099);
    --m3--state-layers--dark--shadow--opacity-016: rgba(0, 0, 0, 0.1599999964237213);
    --m3--state-layers--dark--error--opacity-008: rgba(242, 184, 181, 0.07999999821186066);
    --m3--state-layers--dark--error--opacity-012: rgba(242, 184, 181, 0.11999999731779099);
    --m3--state-layers--dark--error--opacity-016: rgba(242, 184, 181, 0.1599999964237213);
    --m3--state-layers--dark--outline--opacity-008: rgba(147, 143, 153, 0.07999999821186066);
    --m3--state-layers--dark--outline--opacity-012: rgba(147, 143, 153, 0.11999999731779099);
    --m3--state-layers--dark--outline--opacity-016: rgba(147, 143, 153, 0.1599999964237213);
    --m3--state-layers--dark--on-background--opacity-008: rgba(230, 225, 229, 0.07999999821186066);
    --m3--state-layers--dark--on-background--opacity-012: rgba(230, 225, 229, 0.11999999731779099);
    --m3--state-layers--dark--on-background--opacity-016: rgba(230, 225, 229, 0.1599999964237213);
    --m3--state-layers--dark--background--opacity-008: rgba(28, 27, 31, 0.07999999821186066);
    --m3--state-layers--dark--background--opacity-012: rgba(28, 27, 31, 0.11999999731779099);
    --m3--state-layers--dark--background--opacity-016: rgba(28, 27, 31, 0.1599999964237213);
    --m3--state-layers--dark--inverse-on-surface--opacity-008: rgba(49, 48, 51, 0.07999999821186066);
    --m3--state-layers--dark--inverse-on-surface--opacity-012: rgba(49, 48, 51, 0.11999999731779099);
    --m3--state-layers--dark--inverse-on-surface--opacity-016: rgba(49, 48, 51, 0.1599999964237213);
    --m3--state-layers--dark--inverse-surface--opacity-008: rgba(230, 225, 229, 0.07999999821186066);
    --m3--state-layers--dark--inverse-surface--opacity-012: rgba(230, 225, 229, 0.11999999731779099);
    --m3--state-layers--dark--inverse-surface--opacity-016: rgba(230, 225, 229, 0.1599999964237213);
    --m3--state-layers--dark--on-surface-variant--opacity-008: rgba(202, 196, 208, 0.07999999821186066);
    --m3--state-layers--dark--on-surface-variant--opacity-012: rgba(202, 196, 208, 0.11999999731779099);
    --m3--state-layers--dark--on-surface-variant--opacity-016: rgba(202, 196, 208, 0.1599999964237213);
    --m3--state-layers--dark--on-surface--opacity-008: rgba(230, 225, 229, 0.07999999821186066);
    --m3--state-layers--dark--on-surface--opacity-012: rgba(230, 225, 229, 0.11999999731779099);
    --m3--state-layers--dark--on-surface--opacity-016: rgba(230, 225, 229, 0.1599999964237213);
    --m3--state-layers--dark--surface-variant--opacity-008: rgba(73, 69, 79, 0.07999999821186066);
    --m3--state-layers--dark--surface-variant--opacity-012: rgba(73, 69, 79, 0.11999999731779099);
    --m3--state-layers--dark--surface-variant--opacity-016: rgba(73, 69, 79, 0.1599999964237213);
    --m3--state-layers--dark--surface--opacity-008: rgba(28, 27, 31, 0.07999999821186066);
    --m3--state-layers--dark--surface--opacity-012: rgba(28, 27, 31, 0.11999999731779099);
    --m3--state-layers--dark--surface--opacity-016: rgba(28, 27, 31, 0.1599999964237213);
    --m3--state-layers--dark--on-secondary-container--opacity-008: rgba(232, 222, 248, 0.07999999821186066);
    --m3--state-layers--dark--on-secondary-container--opacity-012: rgba(232, 222, 248, 0.11999999731779099);
    --m3--state-layers--dark--on-secondary-container--opacity-016: rgba(232, 222, 248, 0.1599999964237213);
    --m3--state-layers--dark--on-secondary--opacity-008: rgba(51, 45, 65, 0.07999999821186066);
    --m3--state-layers--dark--on-secondary--opacity-012: rgba(51, 45, 65, 0.11999999731779099);
    --m3--state-layers--dark--on-secondary--opacity-016: rgba(51, 45, 65, 0.1599999964237213);
    --m3--state-layers--dark--secondary-container--opacity-008: rgba(74, 68, 88, 0.07999999821186066);
    --m3--state-layers--dark--secondary-container--opacity-012: rgba(74, 68, 88, 0.11999999731779099);
    --m3--state-layers--dark--secondary-container--opacity-016: rgba(74, 68, 88, 0.1599999964237213);
    --m3--state-layers--dark--secondary--opacity-008: rgba(204, 194, 220, 0.07999999821186066);
    --m3--state-layers--dark--secondary--opacity-012: rgba(204, 194, 220, 0.11999999731779099);
    --m3--state-layers--dark--secondary--opacity-016: rgba(204, 194, 220, 0.1599999964237213);
    --m3--state-layers--dark--inverse-primary--opacity-008: rgba(103, 80, 164, 0.07999999821186066);
    --m3--state-layers--dark--inverse-primary--opacity-012: rgba(103, 80, 164, 0.11999999731779099);
    --m3--state-layers--dark--inverse-primary--opacity-016: rgba(103, 80, 164, 0.1599999964237213);
    --m3--state-layers--dark--on-primary-container--opacity-008: rgba(234, 221, 255, 0.07999999821186066);
    --m3--state-layers--dark--on-primary-container--opacity-012: rgba(234, 221, 255, 0.11999999731779099);
    --m3--state-layers--dark--on-primary-container--opacity-016: rgba(234, 221, 255, 0.1599999964237213);
    --m3--state-layers--dark--on-primary--opacity-008: rgba(56, 30, 114, 0.07999999821186066);
    --m3--state-layers--dark--on-primary--opacity-012: rgba(56, 30, 114, 0.11999999731779099);
    --m3--state-layers--dark--on-primary--opacity-016: rgba(56, 30, 114, 0.1599999964237213);
    --m3--state-layers--dark--primary-container--opacity-008: rgba(79, 55, 139, 0.07999999821186066);
    --m3--state-layers--dark--primary-container--opacity-012: rgba(79, 55, 139, 0.11999999731779099);
    --m3--state-layers--dark--primary-container--opacity-016: rgba(79, 55, 139, 0.1599999964237213);
    --m3--state-layers--dark--primary--opacity-008: rgba(208, 188, 255, 0.07999999821186066);
    --m3--state-layers--dark--primary--opacity-012: rgba(208, 188, 255, 0.11999999731779099);
    --m3--state-layers--dark--primary--opacity-016: rgba(208, 188, 255, 0.1599999964237213);

    /* Text-size styles */
    /* base size: m3--display--large (57px) */
    --m3--display--large: 1rem;
    --m3--display--medium: 0.79rem;
    --m3--display--small: 0.63rem;
    --m3--headline--large: 0.56rem;
    --m3--headline--medium: 0.49rem;
    --m3--headline--small: 0.42rem;
    --m3--title--large: 0.39rem;
    --m3--title--medium: 0.28rem;
    --m3--title--small: 0.25rem;
    --m3--label--large: 0.25rem;
    --m3--label--medium: 0.21rem;
    --m3--label--small: 0.19rem;
    --m3--body--large: 0.28rem;
    --m3--body--medium: 0.25rem;
    --m3--body--small: 0.21rem;

    /* Effect styles */
    --m3---elevation--light--1: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
    --m3---elevation--light--2: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
    --m3---elevation--light--3: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.15);
    --m3---elevation--light--4: 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.15);
    --m3---elevation--light--5: 0px 4px 4px rgba(0, 0, 0, 0.3), 0px 8px 12px rgba(0, 0, 0, 0.15);
    --m3---elevation--dark--1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.15);
    --m3---elevation--dark--2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.15);
    --m3---elevation--dark--3: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.15);
    --m3---elevation--dark--4: 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.15);
    --m3---elevation--dark--5: 0px 4px 4px rgba(0, 0, 0, 0.3), 0px 8px 12px rgba(0, 0, 0, 0.15);

}